extends ../layout
block content
 h1= title
 form(method='post', action='/product/' + product.id)
  input(name='_method', value='PUT', type='hidden')
  fieldset
   legend Edit product
   label Product Name:
   input(name='product[name]' value='#{product.name}' required)
   select(name='product[categoryId]')
    each category in categories
     if(product.categoryId==category.id)
      option(value='#{category.id}' selected='selected') #{category.name}
     else
      option(value='#{category.id}') #{category.name}

   input(type='submit')